@import url('https://fonts.googleapis.com/css?family=Raleway:200');



.blu{
    margin-left: 40px;
}

.wagon{

}

.navbar{
    box-shadow: 0px 2px 5px #888888;
   
  
}


body {
  margin: 0;
  background: #ecf0f1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
 top: 54px;
  height: 100vh;
  width: 15vw;
  font-family: raleway;
  background: white;
}

.item {
  color: black;
  font-size: 15px;
  padding: 5px;
}

.section {
  padding: 20px;
}

.home{
    cursor: pointer;
}

.orders{
    cursor: pointer;
}

#main-content{
position: relative;
 top: 0px;
 left: 15vw;  
 margin-left: 30px;
 width: 960px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  .orders-content{
      font-size: 13px;
      width: 300px;
  }